<div class="slider-img" data-index="{{ forloop.index0 }}">
  {% if image.media_type == 'video' %}
    <div class="magic-video-container" style="padding-bottom:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%">
    {{ image | video_tag: controls: false, autoplay: true, loop: true }}
    </div>
  {% elsif image.media_type == 'external_video' %}
    <div class="magic-video-container" style="padding-bottom:{{ 1 | divided_by: image.aspect_ratio | times: 100 }}%">
    {{ image | external_video_tag }}
  </div>
  
  {% else %}
  
  {% if image.alt contains 'youtube' or image.alt contains 'vimeo' or image.alt contains 'youtu.be' %}
    {% if forloop.index0 == 0 and mt_featured_image == image %}
        {% assign first_image_is_video = true %}
    {% endif %}
    <a data-slide-id="video-{{ image.id }}" href="{{ image.alt }}"><img src="{{ image | product_img_url: MagicToolboxSelectorImageSize }}" alt="{{ image.alt | escape }}" /></a>
  {% else %}
    {% assign product_variants = ',' %}            
    
      {% for v in product.variants %}
        {% if image.id == v.featured_media.id %}
          {% assign product_variants = product_variants | append: ',' | append: v.id %}
        {% endif %}
      {% endfor %}
  
    {% if mt_featured_image_ == '' %}
        {% assign mt_featured_image_ = image %}
    {% endif %}
    <a data-variants="{{ product_variants }}" href="{{ image | product_img_url: MagicToolboxBigImageSize }}" data-gallery="zoom" class="MagicZoom" data-image="" title="{{ image.alt | escape }}">
      <img  src="{{ image | product_img_url: MagicToolboxThumbnailImageSize }}" alt="{{ image.alt | escape }}" />
    </a>
  {% endif %}
{% endif %}
</div>

{%  assign finalSaleTags = settings.finalsale_tag | split: "," %}
{% for tag in product.tags %}
  {% for finalSaleTag in finalSaleTags %}
    {% if tag contains finalSaleTag %}
      {% assign onFinalSale = 'true' %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if tag contains 'bundle-product' %}
    {% assign bundleProduct = 'true' %}
  {% endif %}
{% endfor %}

{% assign showForm = false %}
{% if forloop.index0 == 0 and videoLast == false %}
  {% assign showForm = true %}
{% elsif forloop.index0 == 1 and videoLast == true %}
  {% assign showForm = true %}    
{% endif %}
{% if showForm == true %}
  <div class="magic-zoom-form product-single__meta">
    <div class="{{ product_description_width }} product-option-info">
      <div class="product-single__meta">
        {% if product.tags contains "dotapparel21-voucher" %}
          <div data-dotapparel21-module="VoucherPurchaseForm"></div>
        {% else %}
        <div class="product-label-badge-wrapper">
          {% for tag in product.tags %}
            {% if tag contains 'x-markdown-pc:' %}
              {% assign percentage_off = tag | split: ":" | last %}
              <div class="product-label-badge">{{ percentage_off }}% Off</div>
            {% elsif tag contains 'label:' %}
              {% assign label = tag | split: ":" | last %}
              <div class="product-label-badge">{{ label }}</div>
            {% endif %}

            {% assign finalSaleTags = settings.finalsale_tag | split: "," %}
            {% for finalSaleTag in finalSaleTags %}
              {% if tag contains finalSaleTag %}
                  <div class="product-label-badge">FINAL SALE</div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="product-title-price-container">
          <h1 class="product-single__title">{{ product.title }}</h1>
            <span class="product-details-wishlist">
              {% include 'swym-product-view', product: product %}
              <button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}} swym-add-to-wishlist" data-product-url="{{shop.url}}{{product.url}}" data-with-epi="true" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{current_variant.id}}"></button>
            </span>
          <div class="product__price">
          {% include 'product-price', variant: current_variant %}
        </div>
      </div>
        
      {% if settings.use_afterpay %}
        <div class="product-afterpay-container">
        {% include 'afterpay_snippet' %}
        </div>
      {% endif %}
      
      <div class="product-form" id="product-form">
        <div class="product-add-to-cart-form">
        {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
        {% if onFinalSale and settings.finalsale_tag != blank and settings.finalsale_msg != blank %}
          <input type="hidden" id="final-sale" value="{{ settings.finalsale_msg }}" name="properties[{{ settings.finalsale_tag }}]" data-final-sale>
        {% endif %}
          {% unless product.has_only_default_variant %}
          <div class="product-options-container">
            <div data-dotapparel21-module="SwatchSelector"></div>
            <label class="current-colour-label" data-current-color="{{product.options_by_name["Colour"].selected_value }}">
              {{ product.options_by_name["Colour"].selected_value }}
            </label>
            <div class="product-options__color hide">
              <label class="product-options__color-name" data-current-color="{{product.options_by_name["Colour"].selected_value }}">
                colour: {{ product.options_by_name["Colour"].selected_value }}
              </label>
              
              {% if product.metafields.dotapparel21.siblings_swatches != blank and product.metafields.dotapparel21.siblings_handles != blank %}
                {% assign siblings_swatches = product.metafields.dotapparel21.siblings_swatches | split: ","%}
                {% assign siblings_handles = product.metafields.dotapparel21.siblings_handles | split: ","%}
                {% for handle in siblings_handles %}
                  {%assign image_url = siblings_swatches[forloop.index0]%}
                  {% if handle == product.handle and image_url %}
                    <img class="product-options__color-image" src="{{image_url}}" width="36px" height="36px" />
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            {% for option in product.options_with_values %}
              {% if option.name == 'Colour' or option.name == 'Color' %}  
              {% elsif option.name == 'Size' %}
                <div class="selector-wrapper js product-form__item size-picker-section {% unless product.handle contains 'gift-voucher' %}{% if option.values.size > 1 %}size-guide-mobile-spacing{% endif %}{% endunless %}">
                  <div class="product-options--mobile{% if option.values.size == 1 %} one-size{% endif %}">
                    <label class="title top-product-menu-display">
                      {% if option.values.size == 1 %}
                        {{ option.name }}: {{option.values[0]}}
                      {% else %}
                        {{ option.name }}
                      {% endif %}
                    </label>

                    {% unless product.handle contains 'gift-voucher' %}
                      {% if option.values.size > 1 %}
                        {% if shop.permanent_domain != 'ajeworld.myshopify.com' %}
                          {% if product.tags contains 'kiwi-sizing' %}
                            <span class="size-guide-link fixed-product-menu-display size-guide-link-mobile"><a href="#" id="KiwiSizingChart"></a></span>
                          {% else %}
                            <span class="size-guide-link fixed-product-menu-display size-guide-link-mobile"><a href="#">SIZE GUIDE</a></span>
                          {% endif %}
                        {% else %}
                          <!-- WAIR PDP Start -->
                          <div class="predict-placement wair-rec-placement-mobile"
                            data-predict-product-key="{{product.handle}}"
                            data-predict-product-name="{{ product.title | escape }}"
                            data-predict-product-img="{{ product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: 'x600' }}">
                          </div>
                          <!-- WAIR PDP End -->
                        {% endif %}
                      {% endif %}
                    {% endunless %}
                  </div>
                  <div class="current-size fixed-product-menu-display">
                    <label class="title"><span class="text"></span>
                    <span class="icon-open-close">
                      {% include 'icon-down-arrow' %}
                    </span>
                    </label>
                  </div>
                  
                  {% assign index = forloop.index %}
                  <div class="size-picker-swatch-wrapper {% if option.values.size == 1 %} one-size {% endif %}">
                    {% if shop.permanent_domain != 'ajeworld.myshopify.com' %}
                      {% for value in option.values %}
                        {% comment %} To get the variant.id assigned to data-variant-id so we can use this for BIS {% endcomment %}
                        {% assign relevant_variant = product.variants | where: 'option2', value | first %}
                        <div class="size-picker">
                          <input 
                            data-variant-id="{{ relevant_variant.id }}" 
                            class="single-option-selector-{{ section.id }}" 
                            id='size-{{ forloop.index }}' 
                            type='radio' 
                            name='size' 
                            value="{{ value | escape }}" 
                            data-index="option{{index}}"
                          />
                          <label class="size" for='size-{{ forloop.index }}'>{{ value }}  <span class="variant-inventory-message fixed-product-menu-display"></span></label>
                        </div>
                      {% endfor %}
                    {% else %}
                      {% assign pdp_size_data_row = settings.pdp_size_conversion | split: ';' %}
                      {% for value in option.values %}
                        {%- comment -%} map size conversion dataset {%- endcomment -%}
                        {% assign size_data_value = '' %}
                        {% for size_row in pdp_size_data_row %}
                          {% assign size_data_key = size_row | split: ':' | first | strip %}
                          {% if value  == size_data_key %}
                            {% assign size_data_value = size_row | split: ':' | last | strip%}
                          {% endif %}
                        {% endfor %}

                        <div class="size-picker">
                          <input class="single-option-selector-{{ section.id }}" id='size-{{forloop.index}}' type='radio' name='size' value="{{ value | escape }}" data-index="option{{index}}" data-size-conversion="{{ size_data_value }}"/>
                          <label class="size" for='size-{{forloop.index}}'>{{ value }}  <span class="variant-inventory-message fixed-product-menu-display"></span></label>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="size-conversion-message"></div>
                  <div class="variant-inventory-message top-product-menu-display"></div>
                </div>
              {% else %}
                <div class="selector-wrapper js product-form__item single-selector">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endunless %}
                        
          <div class="product-form__item product-details-wishlist fixed-product-menu-display">
            {% include 'swym-product-view', product: product %}
          </div>
          <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
            <option selected disabled></option>
            {% if product.variants.size >= 2 %}
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option value="{{ variant.id }}" disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            {% else %}
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            {% endif %}
          </select>
          <div class="product-form__item product-form__item--quantity{% unless section.settings.show_quantity_selector %} hide{% endunless %}" quantity-product>
            <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
            <div class="product-form__quantity-input">
              <div class="quantity-icon minus hide">
                {% render 'icon-minus' %}
              </div>
              <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" data-quantity-input>
              <div class="quantity-icon plus hide">
                {% render 'icon-plus-quantity' %}
              </div>
            </div>
          </div>
          <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}" data-error-message-wrapper role="alert">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
          </div>
          {% if onFinalSale and settings.finalsale_tag != blank and settings.finalsale_msg != blank %}
            <div class="final-sale-message"{% if settings.finalsale_colour != blank %} style="color: {{ settings.finalsale_colour }}"{% endif %}>{{ settings.finalsale_msg }}</div>
          {% endif %}
          <div class="product-info-size-guide-container">
            <span><a href="#product-info" class="product-info-link" data-target="#product-info">Product Info</a></span>
            {% comment %} display size/fit guide link only if product has more than 1 size option {% endcomment %}
            
            {% if shop.permanent_domain != 'ajeworld.myshopify.com' %}
              {% if product.tags contains 'kiwi-sizing' %}
                <span><a href="#" id="KiwiSizingChart"></a></span>
              {% else %}
                <span><a href="#" class="size-guide-link {% if product.options_by_name['size'].values.size <= 1 or product.handle contains 'gift-voucher' %} hide-text {% endif %}">Size Guide</a></span>
              {% endif %}
            {% else %}
              <!-- WAIR PDP Start -->
              {% if shop.permanent_domain == 'ajeworld.myshopify.com' %}
                <style>
                    button#wair-fit-advisor > span,
                    button#wair-fit-advisor > span > span {
                      font-family: canada-type-gibson;
                      font-size: 11px;
                      letter-spacing: 2px;
                    }
                </style>              
              {% endif %}
              <div class="predict-placement"
                data-predict-product-key="{{ product.handle }}"
                data-predict-product-name="{{ product.title | escape }}"
                data-predict-product-img="{{ product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: 'x600' }}">
              </div>
              <!-- WAIR PDP End -->
            {% endif %}

          </div>

          {% if product.tags contains 'x-category:TEES' and section.settings.buy_two_tees != blank and product.metafields.custom.spend_and_save.value != blank %}
            <div class="by_two_tees" button-by-two-tees>
              <a class="wrap_btn" href="{{ section.settings.shop_tees_link }}">
                <span>{{ section.settings.buy_two_tees }}</span>
                <span class="shop_tees_link" >{{ section.settings.shop_tees }}</span>
              </a>
            </div>
          {% endif %}

          <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
            {% assign bis = false %}
            {% assign product_tags = product.tags | downcase %}
            {% if product_tags contains 'label: coming soon' %}
              {% assign bis = true %}
            {% endif %}
            {% if bis == false %}
              <button type="submit" name="add"
                {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                class="btn product-form__cart-submit {% if current_variant.available == false %}hidden{% endif %}{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %} {% if bis %} bis-enable {% endif %}"
                data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
                <span class="hide" data-loader>
                  {% include 'icon-spinner' %}
                </span>
              </button>

              <button class="btn product-notify-me-btn klaviyo-bis-trigger" href="#">Notify Me</button>
            {% endif %}

            {% if bis %}
              <button class="btn product-notify-me-btn" data-variant-id="{{ product.selected_or_first_available_variant.id }}" type="button">Register Interest</button>
            {% endif %}

            <button type="button" name="update"
              {% unless current_variant.available %} aria-disabled="true"{% endunless %}
              aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'update' }}{% endunless %}"
              class="btn product-form__cart-submit btn-update"
              data-update-to-cart>
              <span data-update-to-cart-text>
                {% unless current_variant.available %}
                  {{ 'products.product.sold_out' | t }}
                {% else %}
                  {{ 'update' }}
                {% endunless %}
              </span>
            </button>

            {% comment %} Only run this on NZ, RotW does not have stores, AU now using Brauz as per CDSD-27382 {% endcomment %}
            {% if shop.permanent_domain == 'ajeworldnz.myshopify.com' and bis == false %}
                  <div data-dotapparel21-module="FindInStoreButton"></div>
                {% if settings.enable_delivery_options %}
                  <div class="find-in-store-text">{{ section.settings.find_in_store_text }}</div>
                {% endif %}
            {% endif %}

            
            {% if section.settings.enable_payment_button %}
              {{ form | payment_button }}
            {% endif %}
          </div>
        {% endform %}
      </div>
    </div>

    {%- render 'brauz-find-in-store', bis: bis -%}

    <div class="add-to-section-message">
      {{section.settings.add_to_section_message}}
    </div>

    {% include 'get-the-look', product: product%}

    {% if template.suffix contains 'athletica' %}
    {% include 'product-description-athletica' %}
    {% endif %}
    {% if bundleProduct %}
    <div class="bundle-product-link">
      <a href="#bundle-products" data-target="#bundle-products">
        {{ section.settings.bundle_product_text }}
      </a>
    </div>
    {% endif %}{% endif %}
  </div>
  {%- comment -%} 
    Live region for announcing updated price and availability to screen readers 
  {%- endcomment -%}
  <p class="visually-hidden" data-product-status
    aria-live="polite"
    role="status"
  ></p>
  {%- comment -%} 
    Live region for announcing that the product form has been submitted and the product is in the process being added to the cart 
  {%- endcomment -%}
  <p class="visually-hidden" data-loader-status
    aria-live="assertive"
    role="alert"
    aria-hidden="true"
  >{{ 'products.product.loader_label' | t }}</p>
  </div>
</div>
{% unless product.tags contains "dotapparel21-voucher" %}
<span class="dummy-view-details-link"></span>
<div class="product-view-details-link">
  <a href="#product-info" data-target="#product-info" class="product-info-link">
  <p>View details</p>
  {% include 'icon-down-arrow' %}
  </a>
</div>
{% endunless %}
{% endif %}

{% unless videoLast == true %}
  {% if forloop.index0 == 3 and product.metafields.productDetails.designer_note_quote != blank %}
    {{ meta2 }}
    {% assign meta2 = '' %}
  {% endif %}
{% else %}
  {% if forloop.index0 == 4 and product.metafields.productDetails.designer_note_quote != blank %}
    {{ meta2 }}
    {% assign meta2 = '' %}
  {% endif %}
{% endunless %}